<mat-toolbar class="toolbar">
    <span>Online-courses</span>
    <span class="spacer"></span>

    <button routerLink="/courses" class="button">
        <mat-icon class="icon">school</mat-icon>
        <span class="text2">courses</span>
    </button>

    @if(user.value.id==0) {
    <button routerLink="/signUp" class="button">
        <mat-icon class="icon">person_add</mat-icon>
        <span class="text">sign Up</span>
    </button>

    <button routerLink="/signIn" class="button">
        <mat-icon class="icon">person</mat-icon>
        <span class="text"> sign In</span>
    </button>}

    <button routerLink="/" class="button">
        <mat-icon class="icon">home</mat-icon>
        <span class="text2">home</span>
    </button>

</mat-toolbar>

<div class="outlet">
<router-outlet></router-outlet>
</div>