#root {
    font-family: Arial, sans-serif;
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #ffff;
    border-radius: 10px;
    height: 60vh;
    width: 32vw !important;
    margin: 0 auto;
    margin-bottom: 14vh;
    overflow: auto;
}

#root h1 {
    padding-left: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.button-red {
    color: #f0f0f0;
    background-color: #ff1900 !important;
    width: 30%;
}

.button-green {
    background-color: #16d43f !important;
    width: 30%;
}

.button-container {
    display: flex;
    gap: 40px;
}

.input {
    margin: 3px;
    border-radius: 5px;
    width: 95%;
}

.back {
    background-color: #ccc;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border: 0px;
    border-radius: 50%;
}

.back .mat-icon {
    margin-top: 3px;
}

.next {
    margin-left: 27vw;
    background-color: #ccc;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border: 0px;
    border-radius: 50%;
}

.next .mat-icon {
    margin-top: 2px;
}

.bt {
    margin-top: 20px;
    height: 50px;
    margin-right: 3%;
    font-size: 17px;
    color: #000;
}

h1{
    margin-bottom: 30px;
}

