<div class="home-container">
  <div class="hero-section">
      <h1>Welcome to Our Digital Learning Platform</h1>
      <p>Gain new skills, boost your career, and achieve your dreams.</p>
      <button mat-raised-button color="primary" (click)="signUp()">Start Learning</button>
  </div>
  
  <h2 class="section-title">Explore Our Courses</h2>
  <div class="courses-container">
    @for (course of courses; track courses.keys) {
      <mat-card class="course-card">
          <img mat-card-image alt="{{ course.title }}">
          <mat-card-content>
              <h3>{{ course.title }}</h3>
              <p>{{ course.description }}</p>
          </mat-card-content>
          <mat-card-actions>
              <button mat-button color="accent" (click)="signUp()">Enroll Now</button>
          </mat-card-actions>
      </mat-card>
    }
  </div>
</div>
